.section-statistics {
  margin: auto;
  max-width: 1600px;
}

.statistics-box {
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36px;
}

.stat-title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.stat-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.stat-item {
  border: 1px solid black;
  padding: 15px 15px 15px 15px;
}
